<template>
  <section>
    <div class="container content_container">
      <b-notification
          :duration=5000
          auto-close type="is-danger"
          v-model="textOrHtmlNotification"
          aria-close-label="Close notification">
          Either Text Content or HTML content must be presented
      </b-notification>
      <form ref="form" @submit.prevent="onSubmit">
        <b-field label="From" label-position="on-border">
          <b-input
              v-model="form.from"
              required
              type="email"
              maxlength="255">
          </b-input>
        </b-field>
        <b-field label="To" label-position="on-border">
          <b-input
              v-model="form.to"
              required
              type="email"
              maxlength="255">
          </b-input>
        </b-field>
        <b-field label="Subject" label-position="on-border">
          <b-input
              v-model="form.subject"
              required
              type="text"
              maxlength="255">
          </b-input>
        </b-field>

        <div class="columns is-vcentered">
          <div class="column">
            <b-field>
              <b-upload @input="sendFileToBackend"
                        v-model="dropFiles"
                        multiple
                        drag-drop
                        expanded
                        :loading="uploadingToBackend">
                <section class="section">
                  <div class="content has-text-centered">
                    <p>
                      <b-icon
                          icon="upload"
                          size="is-large">
                      </b-icon>
                    </p>
                    <p>Drop your files here or click to upload</p>
                  </div>
                </section>
              </b-upload>
            </b-field>

            <div class="tags">
              <span v-for="(file, index) in form.attachments"
                    :key="index"
                    class="tag is-primary" >
                  {{ file.originalName }}.{{ file.extension }}
                  <button class="delete is-small"
                          type="button"
                          @click="deleteDropFile(file.id)">
                  </button>
              </span>
            </div>
          </div>

          <div class="column">
            <b-field label="Text Content" label-position="on-border">
              <b-input
                  v-model="form.textContent"
                  type="textarea"
                  maxlength="65535">
              </b-input>
            </b-field>
            <b-field label="Html Content" label-position="on-border">
              <b-input
                  v-model="form.htmlContent"
                  type="textarea"
                  maxlength="65535">
              </b-input>
            </b-field>
          </div>
        </div>
        <b-button class="is-success" @click="onSave" expanded>Save</b-button><br>
        <b-button class="is-primary" @click="onSubmit" expanded>Post</b-button>
      </form>
    </div>
    <b-loading :is-full-page="true" v-model="isDraftLoading" :can-cancel="true"></b-loading>
  </section>
</template>

<script>
import {mapActions, mapState} from "vuex";
import attachmentApi from "@/mixins/attachmentApi";
import emailApi from "@/mixins/emailApi";

  export default {
    name: 'CreateEmail',
    mixins: [emailApi, attachmentApi],
    data() {
      return {
        textOrHtmlNotification: false,
        uploadingToBackend: false,
        dropFiles: [],
        form: {
          from: '',
          to: '',
          subject: '',
          textContent: '',
          htmlContent: '',
          attachments: []
        }
      }
    },
    computed: {
      ...mapState({
        draftEmailData: state => state.draftEmail.emailData,
        isDraftLoading: state => state.draftEmail.isLoading,
      }),
    },
    watch: {
      draftEmailData: function (val) {
        this.form = Object.assign({}, val)
      }
    },
    methods: {
      ...mapActions({
        getDraftEmail: 'draftEmail/getDraftEmail',
        getDraftAttachments: 'draftEmail/getAttachments'
      }),
      async sendFileToBackend() {
        this.uploadingToBackend = true
        for (let file of this.dropFiles) {
          await this.sendAttachment(this.draftEmailData.id, file)
        }
        this.form.attachments = await this.getEmailAttachments(this.draftEmailData.id)
        this.dropFiles = []
        this.uploadingToBackend = false
      },
      async deleteDropFile(fileId) {
        this.uploadingToBackend = true
        await this.removeAttachment(fileId)
        this.form.attachments = await this.getEmailAttachments(this.draftEmailData.id)
        this.uploadingToBackend = false
      },
      textOrHtmlPresented() {
        return this.form.textContent || this.form.htmlContent
      },
      async onSave() {
        if(!this.textOrHtmlPresented()) {
          this.textOrHtmlNotification = true
        } else {
          await this.saveDraftEmail(this.form)
        }
      },
      async onSubmit() {
        if(!this.textOrHtmlPresented()) {
          this.textOrHtmlNotification = true
        } else {
          await this.submitDraftEmail(this.form)
          await this.getDraftEmail()
        }
      }
    },
    mounted() {
      this.getDraftEmail()
    }
  }
</script>

<style scoped>
  .content_container {
    padding: 0 200px;
  }
</style>