<template>
  <div class="home">
    <EmailsTable/>
  </div>
</template>

<script>
// @ is an alias to /src
import EmailsTable from '@/components/EmailsTable.vue'
import router from "@/router";
import {mapActions, mapMutations, mapState} from "vuex";
import emailApi from "@/mixins/emailApi";

export default {
  name: 'Home',
  components: {
    EmailsTable
  },
  mixins:[emailApi],
  props: {
    page: {
      type: Number,
      default: 1
    },
  },
  computed: {
    ...mapState({
      currentPage: state => state.emails.pagination.current,
      filter: state => state.emails.filter
    }),
  },
  watch: {
    filter: {
      handler() {
        this.getEmails()
      }
    },
    page: {
      handler(val) {
        this.setCurrentPage(val)
      }
    },
    currentPage: {
      handler(val) {
        router.push({name: 'Home', query: { page: val }}).catch(() => {})
        this.getEmails()
      }
    }
  },
  methods: {
    ...mapActions({
      getEmails: 'emails/getEmails'
    }),
    ...mapMutations({
      setFilter: 'emails/setFilter',
      setCurrentPage: 'emails/setCurrentPage'
    }),
  },
  mounted() {
    this.setCurrentPage(this.page)
    this.getEmails()
  }
}
</script>
