<template>
  <div class="content_container">
    <b-table
        :data="this.emailsList"
        :loading="this.isLoading"
        :hoverable="tableConfig.isHoverable"
        :sort-icon="tableConfig.sortIcon"
        :mobile-cards="tableConfig.hasMobileCards"
        detailed>

      <b-table-column field="id" label="ID" sortable v-slot="props">
        {{ props.row.id }}
      </b-table-column>

      <b-table-column field="from" label="Sender" sortable searchable>
        <template slot="searchable">
          <b-input
              v-model="filterFrom"
              :lazy="true"
              placeholder="Search..."
              icon="magnify"
              size="is-small" />
        </template>
        <template v-slot="props">
          {{ props.row.from }}
        </template>
      </b-table-column>

      <b-table-column field="to" label="Recipient" sortable searchable>
        <template slot="searchable">
          <b-input
              v-model="filterTo"
              :lazy="true"
              placeholder="Search..."
              icon="magnify"
              size="is-small" />
        </template>
        <template v-slot="props">
          {{ props.row.to }}
        </template>
      </b-table-column>

      <b-table-column field="subject" label="Subject" sortable searchable>
        <template slot="searchable">
          <b-input
              v-model="filterSubject"
              :lazy="true"
              placeholder="Search..."
              icon="magnify"
              size="is-small" />
        </template>
        <template v-slot="props">
          {{ props.row.subject }}
        </template>
      </b-table-column>

      <b-table-column field="status" label="Status" sortable searchable>
        <template slot="searchable">
          <b-input
              v-model="filterStatus"
              :lazy="true"
              placeholder="Search..."
              icon="magnify"
              size="is-small" />
        </template>
        <template v-slot="props">
          <span :class="{
            status_posted: props.row.status === 'Posted',
            status_sent: props.row.status === 'Sent',
            status_failed: props.row.status === 'Failed'}">
            {{ props.row.status }}
          </span>
        </template>
      </b-table-column>

      <template slot="detail" slot-scope="props">
        <article class="media">
          <div class="media-content">
            <div class="content">
                <p>
                  <strong>Text:</strong>
                  {{ props.row.textContent | truncate(256, '...') }}
                </p>
                <p>
                  <strong>HTML:</strong>
                  {{ props.row.htmlContent | truncate(256, '...') }}
                </p>
                <b-taglist>
                    <b-tag v-for="attachment in props.row.attachments"
                           :key="attachment.id"
                           type="is-info">
                      {{ attachment.originalName }}.{{ attachment.extension }}
                    </b-tag>
                </b-taglist>
            </div>
          </div>
        </article>
      </template>
    </b-table>
    <b-pagination
        v-model="paginationData.current"
        :total="paginationData.total"
        :per-page="paginationData.perPage"
        :rounded="paginationConfig.isRounded"
        :icon-prev="paginationConfig.prevIcon"
        :icon-next="paginationConfig.nextIcon"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page">
    </b-pagination>
  </div>
</template>

<script>
import {mapMutations, mapState} from 'vuex'

export default {
  name: 'EmailTable',
  data() {
    return {
      tableConfig: {
        isHoverable: true,
        hasMobileCards: false,
        sortIcon: 'arrow-up'
      },
      paginationConfig: {
        isRounded: true,
        prevIcon: 'chevron-left',
        nextIcon: 'chevron-right'
      }
    }
  },
  computed: {
    ...mapState({
      emailsList: state => state.emails.list,
      paginationData: state => state.emails.pagination,
      isLoading: state => state.emails.isLoading,
      filter: state => state.emails.filter,
    }),
    filterFrom: {
      get() {
        return this.filter.from
      },
      set(value) {
        this.setFilterFrom(value);
      }
    },
    filterTo: {
      get() {
        return this.filter.to
      },
      set(value) {
        this.setFilterTo(value);
      }
    },
    filterSubject: {
      get() {
        return this.filter.subject
      },
      set(value) {
        this.setFilterSubject(value);
      }
    },
    filterStatus: {
      get() {
        return this.filter.status
      },
      set(value) {
        this.setFilterStatus(value);
      }
    }
  },
  methods: {
    ...mapMutations({
      setFilterFrom: 'emails/setFilterFrom',
      setFilterTo: 'emails/setFilterTo',
      setFilterSubject: 'emails/setFilterSubject',
      setFilterStatus: 'emails/setFilterStatus'
    })
  }
}
</script>

<style scoped>
  .status_posted {
    color: #0d64c6;
  }

  .status_sent {
    color: #257942;
  }

  .status_failed {
    color: darkred;
  }

  .content_container {
    padding: 0 100px;
  }
</style>